.nav {
    width: 100%;
    justify-content: space-evenly;
}


#carouselExampleControls {
    background-color: rgba(233, 44, 44, 0.293);
    margin-bottom: 30px;
}

.my-img {
    display: block;
    width: 30vw;
    margin: 0 auto;
}

.div-footer {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.show-modal-div{
    text-align: center;
    padding: 10px 10% 40px 10%;
}

@keyframes anim {
    /* или пишем from */
    0% {
        transform: translateX(-10px);
        background: black;
    }
    /* или пишем to */
    100% {
        transform: translateX(10px);
        background-color: grey;
    }
}

.show-modal-btn {
    border: none;
    background-color: black;
    color: rgb(55, 222, 178);
    display: block;
    font-size: 1.3rem;
    width: 100%;
    height: 50px;
    border-radius: 0.6rem;
    animation: anim 2s alternate linear infinite;
}
